@model CreateCustomerMailDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}
<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>


    <section class="w3l-contact-7 pt-5" id="contact">
        <div class="contacts-9 pt-lg-5 pt-md-4">
            <div class="container">
                <div class="top-map">
                    <div class="row map-content-9">


                        <div class="col-lg-8">
                            <div class="contact-form">
                                <h5 class="mb-2">İletişime Geçin</h5>
                                <form method="post">
                                    <div class="form-grid">
                                        <div class="input-field">
                                        <input type="text" asp-for="UserName" placeholder="İsminiz" required="">
                                        </div>
                                        <div class="input-field">
                                        <input type="text" asp-for="Email" placeholder="Email" required="">
                                        </div>
                                    </div>
                                    <div class="input-field mt-4">
                                    <textarea type="text" asp-for="Message" placeholder="Mesaj Kısmı"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-style mt-3">Gönder</button>
                                </form>
                            </div>
                        </div>


                        <div class="col-lg-4 cont-details">
                            <address>
                            <h5 class="">Ana Ofis Adresi</h5>
                                <p>
                                <span class="fa fa-map-marker"></span>Moda Caddesi No:123, 34710 Kadıköy, İstanbul, Türkiye
                                </p>

                                <h5 class="mt-4 pt-lg-3">Telefon Numaralarımız & Mail Adresimiz</h5>
                                <p>
                                    <span class="fa fa-mobile"></span> <strong>Phone :</strong>
                                <a href="tel:+1(12) 366 411 4999"> +90 500 700 40 10</a>
                                </p>

                                <p>
                                    <span class="fa fa-phone"></span> <strong>Tel :</strong>
                                <a href="tel:+1(12) 366 411 4999"> +1 (555) 123-4567</a>
                                </p>

                                <p>
                                    <span class="fa fa-envelope"></span> <strong>Email :</strong>
                                <a href="mailto:info@realestateproject.com"> info@realestateproject.com</a>
                                </p>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map mt-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d633.1744863661992!2d29.02362113672579!3d40.98361758404411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab860da3dd1a7%3A0x9657701b14e8e2c5!2zQ2FmZXJhxJ9hLCBNb2RhIENkLiBObzoxMjMsIDM0NzEwIEthZMSxa8O2eS_EsHN0YW5idWw!5e0!3m2!1str!2str!4v1723187361968!5m2!1str!2str"
                        frameborder="0" style="border:0" allowfullscreen=""></iframe>
            </div>
        </div>
    </section>
